<app-navigation></app-navigation>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3" *ngFor="let i of data.users">

                    <div class="card" style="width: 18rem;">
                        <img src="{{i.image}}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">First Name: {{i.firstName}}</p>
                          <p class="card-text">Last Name: {{i.lastName}}</p>
                          <p class="card-text">Maiden Name: {{i.maidenName}}</p>
                          <p class="card-text">Age: {{i.age}}</p>
                          <p class="card-text">Gender: {{i.gender}}</p>
                          <p class="card-text">Email: {{i.email}}</p>
                          <p class="card-text">Phone: {{i.phone}}</p>
                          <p class="card-text">Birth Date: {{i.birthDate}}</p>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>